apiVersion: batch/v1
kind: Job
metadata:
  name: community-service-migrate
spec:
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
      - name: wait-for-postgres
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            until timeout 1s nc -z community-postgres 5434; do
              echo "Waiting for community-postgres..."
              sleep 2
            done
      containers:
      - name: migrate
        image: qummach/community-service:latest
        command: ["alembic", "upgrade", "head"]
        env:
        # =======================
        # POSTGRES
        # =======================
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: community-postgres-secret
              key: db-name
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: community-postgres-secret
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: community-postgres-secret
              key: password
        - name: POSTGRES_HOST
          value: "community-postgres"
        - name: POSTGRES_PORT
          value: "5434"
        - name: POSTGRES_PORT_TWO
          value: "5432"
        # =======================
        # API GATEWAY
        # =======================
        - name: API_GATEWAY_URL
          value: "http://api-gateway:8000"
        # =======================
        # SECRET KEY
        # =======================
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: community-service-secret
              key: secret-key
      terminationGracePeriodSeconds: 30