apiVersion: apps/v1
kind: Deployment
metadata:
  name: community-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: community-postgres
  template:
    metadata:
      labels:
        app: community-postgres
    spec:
      containers:
      - name: community-postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: community-postgres-secret
              key: db-name
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: community-postgres-secret
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: community-postgres-secret
              key: password
        volumeMounts:
        - name: community-postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: community-postgres-data
        emptyDir: {}
