apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: qummach/frontend:v10
        ports:
        - containerPort: 3000
        # env:
        # - name: NEXT_PUBLIC_API_GATEWAY
        #   value: "/api"