apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
data:
  user-service-url: "http://user-service:8001"
  catalog-service-url: "http://catalog-service:8003"
  community-service-url: "http://community-service:8002"