.scroll-to-top-button {
  position: static !important;
  bottom: auto !important;
  right: auto !important;
  background: var(--gradient-hero);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out, background-position 0.3s ease-out;
  z-index: 1000;
}

.scroll-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top-button:hover {
  transform: scale(1.1);
  background-position: 50% 150%; /* Смещаем градиент вниз */
}