.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}