apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
      - name: catalog-service
        image: qummach/catalog-service:latest
        ports:
        - containerPort: 8003
        env:
        # =======================
        #  POSTGRES
        # =======================
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: catalog-postgres-secret
              key: db-name

        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: catalog-postgres-secret
              key: username

        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: catalog-postgres-secret
              key: password

        - name: POSTGRES_HOST
          value: "catalog-postgres"

        - name: POSTGRES_EXTERNAL_PORT
          value: "5432"

        # =======================
        #  API GATEWAY
        # =======================
        - name: API_GATEWAY_URL
          value: "http://api-gateway:8000"

        # =======================
        #  SECRET KEY
        # =======================
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: catalog-secret
              key: secret-key

        # =======================
        #  MINIO
        # =======================
        - name: MINIO_ENDPOINT
          value: "http://minio:9000"

        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: access-key

        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: secret-key

        - name: MINIO_SECURE
          value: "false"

        - name: MINIO_BUCKET_NAME
          value: "agents-media"

        # =======================
        #  REDIS
        # =======================
        # - name: REDIS_URL
        #   value: "redis://:4321@redis:6379/0"
