apiVersion: batch/v1
kind: Job
metadata:
  name: catalog-service-migrate
spec:
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
      - name: wait-for-postgres
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            until timeout 1s nc -z catalog-postgres 5433; do
              echo "Waiting for catalog-postgres..."
              sleep 2
            done
      containers:
      - name: migrate
        image: qummach/catalog-service:v1
        command: ["alembic", "upgrade", "head"]
        env:
        # =======================
        # POSTGRES
        # =======================
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: catalog-postgres-secret
              key: db-name
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: catalog-postgres-secret
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: catalog-postgres-secret
              key: password
        - name: POSTGRES_HOST
          value: "catalog-postgres"
        - name: POSTGRES_EXTERNAL_PORT
          value: "5433"
        # =======================
        # API GATEWAY
        # =======================
        - name: API_GATEWAY_URL
          value: "http://api-gateway:8000"
        # =======================
        # SECRET KEY
        # =======================
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: catalog-secret
              key: secret-key
        # =======================
        # MINIO
        # =======================
        - name: MINIO_ENDPOINT
          value: "http://minio:9000"
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: access-key
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: secret-key
        - name: MINIO_SECURE
          value: "false"
        - name: MINIO_BUCKET_NAME
          value: "agents-media"
      # Убедись, что сервисы (postgres) существуют
      terminationGracePeriodSeconds: 30